
.site-footer {
	background-image: url("../../assets/images/dark-wood.png");
	.container {
		display:grid;
		grid-template-columns: 250px, auto, 250px;
		grid-template-rows: auto 150px;
		grid-template-areas: "contact hours logo"
							"info info info";
		justify-items: center;
		padding-top: 3rem;
		
		
		
		.contact-info {
			grid-area: contact;
			
		}

		.business-hours {
			grid-area: hours;
		}
		
		.logo {
			grid-area: logo;
			padding-top:1rem;

		}

		.site-info {
			align-self: end;
			grid-area: info;
			text-align: center;
			

		}
	}
}
p.site-footer {
	color:#fff;
}

