.hfeed {
    display:grid;
    grid-template-areas: "header"
                        "content"
                        "footer";
    grid-template-rows: auto;

    }

    
.site-emblem  {
top: 25%;
left: 40%;
    order:2;
    z-index:1;
    position:absolute;
}

//  PRODUCT GRID
.hp-products {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px ;

    img {
        height:70px;
        width:auto;
    }
    &:hover {
        // border;
    }
}
.shop-stuff-container {
    text-align: center;
}
.hp-product-types {
    align-content: center;
    align-items: center;
    border: $solid__border;
    border-top: $solid__border; 
    box-sizing: border-box;
}

.hp-button {
    @include green-button;
}
.hp-blog-posts {
    flex-direction: row;
}


