.hero-image {
    background-image: url("../../assets/images/home-hero.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height:800px;
}

.hp-products {
    height:600px;
    display: flex;
    flex-direction: row;
}

.hp-blog-posts {
    display: flex;
    flex-direction: row;
}