// -----------------------------------------------------------------------------------------------------------------------------
// ##HEADER
// -----------------------------------------------------------------------------------------------------------------------------

.site-header {
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 50% 40%;
}

.site-logo {
    width: 3rem;
}

.main-navigation {
    grid-column-start: 3;
  
}