/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* ===========   HEADER   =====================*/  

.site-header {
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 50% 40%;
    .site-logo {
        width: 3rem;
    }
    
    .main-navigation {
        grid-column-start: 3;
    }
}

/*========= Pages with Sidebars=================*/

.widget-area
/* Margin rule */

.site-header {
    grid-area: header;
       }
.site-content {
   grid-area: content;    
       }
.site-footer {
  grid-area: footer;
       }


// ABOUT.PHP / JOURNAL

.entry-header {
    position: relative;
    // conflicts with the headings on every page.
    .entry-title{
    //     background:$green__brand;
    //     position: absolute;
    //     text-decoration: none;
    display: none;
    }
    .entry-meta {
        position: absolute;
        background:$green__brand;
        text-decoration: none #fff;
    }
    img {
        position: relative;

    }
    
}



/* ============ FOOTER ============ */ 

.site-footer {
	background-image: url("../../assets/images/dark-wood.png");
		display:grid;
		grid-template-columns: 250px, auto, 250px;
		grid-template-rows: auto 150px;
		grid-template-areas: "contact hours logo"
							"info info info";
		justify-items: center;
		padding-top: 3rem;
		height: 500px;
		color:$white;
}		

		.contact-info {
			grid-area: contact;

		}

		.business-hours {
			grid-area: hours;
			
		}
		
		.logo {
			grid-area: logo;
			padding-top:1rem;

		}

		.site-info {
			align-self: end;
			grid-area: info;
			text-align: center;
			

		}