/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Pages with Sidebars*/

#secondary {
    grid-area: sidebar;
}

/* Margin rule */

.site-header {
    grid-area: header;
       }
.site-content {
   grid-area: content;    
       }
.site-footer {
  grid-area: footer;
       }

.site-header,
.site-content,
.site-footer {
    margin: 0px 20px 0px;
}
.hero-image-header {
    margin: 0 0;
}
// ABOUT.PHP / JOURNAL



.entry-header {
    position: relative;
    // conflicts with the headings on every page.
    .entry-title{
    //     background:$green__brand;
    //     position: absolute;
    //     text-decoration: none;
    display: none;
    }
    .entry-meta {
        position: absolute;
        background:$green__brand;
        text-decoration: none #fff;
    }
    img {
        position: relative;

    }
    
}